@import "../src/Assets/styles/Header.css";
@import "../src/Assets/styles/Hero.css";
@import "../src/Assets/styles/About.css";
@import "../src/Assets/styles/Section3.css";
@import "../src/Assets/styles/Section3.css";
@import "../src/Assets/styles/Section4.css";
@import "../src/Assets/styles/Footer.css";

* {
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
}
button {
  cursor: pointer;
}
